/*Font colors*/
$base-font-size:15px;
$base-font-family:"Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
$base-font-color:#666666;

/*Background Colors*/
$primary-color:#7DC6CD;
$secondary-color:#009999;
$light-color:#F7F7F4;
$dark-color:#004883;

/*showcase Area*/
$showcase-height:400px;
$showcase-image:'../img/photo-267961.jpeg';